images/qoi_test_images/**
.vscode/**
.vscode-test/**
out/**/*.map
node_modules/@types/**
node_modules/typescript/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.ts
.claude/**